<div class="content col-10 offset-1">
  <div class="top-content col-12">

    <div class="col-xs-12 col-md-4 col-lg-3 offset-md-2" (click)="moveToClientsList()">
      <div class="fa-content">
        <i class="fa fa-users"></i>
      </div>
      <p>Клиенты</p>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-3 offset-md-2" (click)="moveToEmployeePage()">
      <div class="fa-content">
        <i class="fa fa-user-md"></i>
      </div>
      <p>Сотрудники</p>
    </div>
  </div>

  <div class="bottom-content col-12">
    <div class="col-xs-12 col-md-4 col-lg-3 offset-md-2" (click)="moveToWorkPage()">
      <div class="fa-content">
        <i class="fa fa-clipboard-list"></i>
      </div>
      <p>Таблица посещений</p>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-3 offset-md-2" (click)="moveToWorkPage()">
      <div class="fa-content">
        <i class="fa fa-hospital-alt"></i>
      </div>
      <p>Кабинеты</p>
    </div>
  </div>
</div>
