<div class="content col-10 offset-1">
  <div class="top-content col-12">

    <div class="col-3" (click)="moveToClientsList()">
      <div class="fa-content">
        <i class="fa fa-users"></i>
      </div>
      <p>Клиенты</p>
    </div>

    <div class="col-3" (click)="moveToEmployeePage()">
      <div class="fa-content">
        <i class="fa fa-user-md"></i>
      </div>
      <p>Сотрудники</p>
    </div>
  </div>

  <div class="bottom-content col-12">
    <div class="col-3">
      <div class="fa-content">
        <i class="fa fa-clipboard-list"></i>
      </div>
      <p>Таблица посещений</p>
    </div>

    <!--<div class="col-3">
      <div class="fa-content">
        <i class="fa fa-cogs"></i>
      </div>
      <p>Настройки</p>
    </div>-->

    <div class="col-3">
      <div class="fa-content">
        <i class="fa fa-hospital-alt"></i>
      </div>
      <p>Кабинеты</p>
    </div>
  </div>
</div>
