.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Outputs
bazel-*
test-project-host-*
dist/
/static/

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store