<div>
  <label class="input-label" *ngIf="label" for="name" [class.required]="required">{{label}}</label>
  <div class="input-holder">
    <input [id]="name" type="text" mask="00.00.0000" [formControl]="date" (input)="onInputDate($event)">
    <span *ngIf="errorMessage || error" class="error">{{errorMessage || error}}</span>
    <span class="blue-icon" [inlineSVG]="'/assets/icons/date.svg'" (click)="onOpenCalendar()"></span>
  </div>
  <div class="calendar-content" [class.open]="openCalendar">
    <div class="calendar" *ngIf="mode === ''">
      <div class="header">
        <span class="nav-icon single" [inlineSVG]="'/assets/icons/arrow.svg'" (click)="prevMonth()"></span>
        <div class="header_center">
          <span class="nav-icon"
                [inlineSVG]="'/assets/icons/double-arrow-dropdown.svg'"

                (click)="prevYear()"></span>
          <span class="header_text" (click)="mode='year'">{{ currentDate.format('MMMM') }} {{ currentDate.format('YYYY') }}</span>
          <span class="nav-icon"
                [inlineSVG]="'/assets/icons/double-arrow-dropdown.svg'"

                (click)="nextYear()"></span>
        </div>
        <span class="nav-icon single" [inlineSVG]="'/assets/icons/arrow.svg'" (click)="nextMonth()"></span>
      </div>
      <div class="month-grid">
        <div class="day-names">
          <div *ngFor="let name of dayNames" class="day-name p9">
            {{ name }}
          </div>
        </div>
        <div class="weeks">
          <div *ngFor="let week of weeks" class="week">
            <ng-container *ngFor="let day of week">
              <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                <span class="date-text">{{ day.mDate.date() }}</span>
              </div>
              <div class="week-date enabled"
                    *ngIf="isSelectedMonth(day.mDate)"
                    (click)="selectDate(day)"
                    [ngClass]="{ today: (day.today && isTodayClass), selected: (day.selected || day.today && isTodayClass && !selectedDate.viewDate) }">
                <span class="date-text">{{ day.mDate.date() }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="years" *ngIf="mode === 'year'">
      <div class="years__navigate">
        <span class="nav-icon single" [inlineSVG]="'/assets/icons/arrow.svg'" (click)="prevYears()"></span>
        <span>{{yearsMinMax.min}} - {{yearsMinMax.max}}</span>
        <span class="nav-icon single" [inlineSVG]="'/assets/icons/arrow.svg'" (click)="nextYears()"></span>
      </div>
      <div class="years__content">
        <div class="years__item" *ngFor="let year of years" (click)="setCurrent(year)">
          <span>{{ year }}</span>
        </div>
      </div>
    </div>
    <div class="months" *ngIf="mode === 'month'">
      <div class="months__item" *ngFor="let month of months" (click)="setCurrent(month)">
        <span>{{ month.text }}</span>
      </div>
    </div>
  </div>
</div>

