@import "mixin";
@import "variables";

.button-area {
  margin-top: 20px;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;

  .green {
    margin-right: 10px;
  }
}

.form-area {
  margin: 30px auto;

  .form-group:not(.textarea) {
    height: 38px;
  }

  .form-group {
    display: flex;
    position: relative;

    .ng-valid[required], .ng-valid.required {
      border-right: 5px solid #61C180;
    }

    .ng-invalid:not(form) {
      border-right: 5px solid $input-shadow;
    }

    .hidden {
      display: none;
    }

    .error-message {
      position: absolute;
      left: 35%;
      top: 100%;
      display: block;

      div {
        color: darkred;
        font-size: 10px;
      }
    }

    label {
      margin-top: 10px;
    }

    input {
      height: 100%;
    }

    textarea {
      font-size: 0.8em;
      resize: none;
    }

    input,
    textarea {
      border-radius: 5px;
      border: 1px solid $border-window;
      outline: none;
      box-shadow: none;

      @include placeholder {
        color: #c4d9ff;
        font-size: 14px;
        font-style: italic;
        opacity: 1;
        transition: opacity 200ms;
      }

      &:focus {
        box-shadow: 0 0 5px $input-shadow;
        @include placeholder {
          opacity: 0;
        }
      }
    }

    select {
      background-color: white;
      width: 100%;
      line-height: 38px;
      padding: 6px 20px 6px 15px;
      border: 1px solid $border-window;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 5px $input-shadow;
      }

      option {
        padding-left: 30px;
      }
    }
  }

  div.phone {
    position: relative;

    input {
      padding-left: 52px;
    }

    &::after {
      content: '+380';
      color: black;
      position: absolute;
      width: 20px;
      height: 15px;
      top: 20%;
      left: 35%;
    }
  }
}

