@import "../../../../sass/mixin"
@import "../../../../sass/variables"

.radio-area-container
  display: flex
  flex-direction: column
  .label
    @include label
    margin-bottom: 20px
    position: relative
    width: fit-content
    &.required:after
      content: '*'
      position: absolute
      top: 0
      right: -10px
      color: $red

.form-group
  display: flex

.radio-btn
  display: inline-block
  height: 16px
  &:not(:last-of-type)
    margin-right: 32px
  &__content
    display: flex
    height: 100%
    &_label
      color: $dark
      font-family: $OpenSans
      font-size: 14px
      font-weight: 600
      align-self: center
      text-transform: capitalize

.radio-holder
  display: inline-block
  padding-left: 24px
  position: relative
  height: 100%

input
  position: absolute
  left: 0
  top: 0
  opacity: 0
  z-index: 1

.radiocheck-item
  display: inline-block
  position: absolute
  left: 0
  top: 0
