<div class="radio-area-container">
  <span class="label" *ngIf="label" [class.required]="required">{{ label }}</span>
  <div class="form-group" *ngIf="!control && radioForm" [formGroup]="radioForm">
    <ng-container *ngFor="let option of options; let i = index">
    <div class="radio-btn">
      <div class="radio-btn__content">
        <div class="radio-holder">
          <input 
            #inp
            [id]="option.value"
            [name]="fieldName"
            type="radio"
            [checked]="i == checkedItem"
            [value]="option.value"
            [formControlName]="fieldName">
            <span class="unchecked" [class.active]="!inp.checked" [inlineSVG]="'/assets/icons/radiobutton.svg'" [cacheSVG]="false"></span>
            <span class="checked" [class.active]="inp.checked" [inlineSVG]="'/assets/icons/radiobutton-checked.svg'" [cacheSVG]="false"></span>
        </div>
        <label class="radio-btn__content_label" [for]="option.value" *ngIf="option.label">{{ option.label }}</label>
      </div>
    </div>
    </ng-container>
  </div>
</div>
