<div class="input-component">
  <label class="input-label" *ngIf="label" for="name" [class.required]="required">{{label}}</label>
  <div class="input-holder" [class.search]="search">
    <input
      class="input-item"
      autocomplete="off"
      [id]="name"
      [name]="name"
      [type]="currentType"
      [class.active]="isActive"
      [placeholder]="placeholder"
      [mask]="mask"
      [dropSpecialCharacters]="dropSpecialCharacters"
      [(ngModel)]="value">
    <span *ngIf="search" class="search-icon grey-icon" [inlineSVG]="'/assets/icons/search.svg'"></span>
    <span *ngIf="caret" class="caret" [class.active]="isActive" [inlineSVG]="'/assets/icons/arrow.svg'"></span>
    <span *ngIf="type=='password'"
      class="pass-icon grey-icon"
      [class.blue-icon]="passIcon.includes('show')"
      [inlineSVG]="passIcon"
      (click)="toggleShowPass()"></span>
    <span *ngIf="error" class="error-message">{{error}}</span>
  </div>
</div>
