<div *ngIf="client" class="client">
  <div class="client__header item-header">
    <span class="client__header_nav" (click)="navigate()">
      <span class="grey-icon" [inlineSVG]="'/assets/icons/back.svg'"></span>
      Все пациенты
      <app-loader *ngIf="loading"></app-loader>
    </span>
    <div class="client__header_actions">
      <span class="hover-green-btn" (click)="openModal('edit')">
        <span class="green-icon" [inlineSVG]="'/assets/icons/edit.svg'"></span>
        Изменить
      </span>
      <span class="action-item" (click)="openModal('delete')">
        <span class="grey-icon" [inlineSVG]="'/assets/icons/remove.svg'"></span>
        Удалить
      </span>
    </div>
  </div>
  <div class="client__content">
    <div class="client__content_name-area item-name-area">
      <div class="client-logo item-pic">{{getInitials()}}</div>
      <div class="client-name item-info">
        <span class="roboto20 bold-text">{{ client.lastname }} {{ client.firstname }} {{ client.patronymic }}</span>
        <span class="regular-text grey-text bold-text">{{ getAge() }}
          <ng-container *ngIf="getAge() > 4">лет</ng-container>
          <ng-container *ngIf="getAge() > 1 && 5 > getAge()">года</ng-container>
          <ng-container *ngIf="2 > getAge()">год</ng-container>
        </span>
      </div>
    </div>

    <div class="client__content_info">
      <div class="info-item info-block">
        <span class="regular-text bold-text no-wrap">Телефон:</span>
        <span class="regular-text">{{client.phone || '-'}}</span>
        <span class="regular-text bold-text no-wrap">E-Mail:</span>
        <span class="regular-text">{{client.email || '-'}}</span>
        <span class="regular-text bold-text no-wrap">Адрес:</span>
        <span class="regular-text">{{client.address || '-'}}</span>
      </div>
      <div class="info-item info-block">
        <span class="regular-text bold-text no-wrap">Доктор:</span>
        <span class="regular-text">
          <ng-container *ngIf="client.doctor">{{client.doctor.lastname}} {{client.doctor.firstname[0]}}.{{client.doctor.patronymic[0]}}.</ng-container>
          <ng-container *ngIf="!client.doctor">-</ng-container>
        </span>
        <span class="regular-text bold-text no-wrap">Дисконт:</span>
        <span class="regular-text">{{client.discount || '-'}}</span>
        <span class="regular-text bold-text no-wrap">Комментарий:</span>
        <span class="regular-text">{{client.comment || '-'}}</span>
      </div>
    </div>
  </div>
</div>
