@import '../../../../sass/mixin'
@import '../../../../sass/variables'

.client
  height: calc(100vh - 70px)
  &__header
    @include item-header
  &__content
    height: calc(100vh - 70px - 70px)
    background-color: #fff
    &_name-area
      @include item-name-area
    &_info
      height: calc(100vh - 70px - 70px - 140px)
      padding: 15px 20px
      box-shadow: inset 0px 2px 12px 0 rgba(0, 0, 0, 0.2)
      display: flex	
      .info-item
        @include item-info-item
          
