<div class="users content-wrapper">
  <div class="content-wrapper__header">
    <span class="content-wrapper__header_title">Сотрудники
      <app-loader *ngIf="loading"></app-loader>
    </span>
    <div class="content-wrapper__header_actions">
      <div #searchBlock class="search-action action-item" [class.active]="isSearch">
        <input  #searchInput type="text" (input)="onSearch($event.target.value)">
        <span class="grey-icon" [inlineSVG]="'/assets/icons/search.svg'" (click)="showInput()"></span>
      </div>
      <button class="hover-green-btn" type="button" routerLink="/dashboard/users/add-user">
        <span class="green-icon" [inlineSVG]="'/assets/icons/create.svg'"></span>
        Добавить
      </button>
    </div>
  </div>
  <div class="content-wrapper__table">
    <table mat-table [dataSource]="dataSource" matSort *ngIf="users?.length > 0">
      <!-- FullName Column -->
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ф.И.О</th>
        <td mat-cell *matCellDef="let element" class="include-hover">
          {{ element.lastname }} {{ element.firstname }} {{element.patronymic}}
          <div class="on-hover">
            <i class="fa fa-user-edit" (click)="select(element)"></i>
            <i class="fa fa-trash" (click)="openDeleteWindow(element)"></i>
          </div>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Позиция</th>
        <td mat-cell *matCellDef="let element">{{element.profile || '-'}}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Телефон</th>
        <td mat-cell *matCellDef="let element">{{element.phone || '-'}}</td>
      </ng-container>

      <!-- login Column -->
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef>Логин</th>
        <td mat-cell *matCellDef="let element">{{element.login || '-'}}</td>
      </ng-container>

      <!-- edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index" #editColumn>
          <div class="edit-block" (click)="openActions($event, i)">
            <span class="grey-icon" [inlineSVG]="'/assets/icons/actions.svg'"></span>
            <div class="edit-block_menu" *ngIf="isEdit && activeRow == i">
              <span [routerLink]="'/dashboard/users/' + element.id + '/edit-user'">Изменить</span>
              <span (click)="openDeleteModal(element)">Удалить</span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/dashboard/users/' + row.id"></tr>
    </table>
  </div>
  <app-paginator *ngIf="config.totalPage" [currentPage]="config.page" [totalPage]="config.totalPage" (pageChange)="onPageChange($event)"></app-paginator>
</div>
