<div class="modal">
  <div class="modal__header">
    <span class="modal__header_title">
      <ng-container *ngIf="mode === 'add'">Создание нового сотрудника</ng-container>
      <ng-container *ngIf="mode === 'edit'">Редактирование сотрудника</ng-container>
    </span>
    <span class="grey-icon modal__header_icon" [inlineSVG]="'/assets/icons/close.svg'" (click)="close()"></span>
  </div>
  <form [formGroup]="employeeForm">
    <div class="form-row">
      <app-input
        class="form-item col-2"
        name="lastName"
        label="Фамилия"
        autofocus="true"
        required="true"
        [error]="getErrors('lastName')"
        formControlName="lastName"></app-input>
      <app-input
        class="form-item col-2"
        name="firstName"
        label="Имя"
        required="true"
        [error]="getErrors('firstName')"
        formControlName="firstName"></app-input>
    </div>
    <div class="form-row">
      <app-input
        class="form-item col-3"
        name="patronymic"
        label="Отчество"
        required="true"
        [error]="getErrors('patronymic')"
        formControlName="patronymic"></app-input>
      <!-- <app-date-picker
        class="form-item col-3"
        name="birthDate"
        label="Дата рождения"
        required="true"
        [error]="getErrors('birthDate')"
        formControlName="birthDate"></app-date-picker> -->
      <app-radio-field
        class="form-item col-3 radio-field"
        label="."
        checked="true"
        [options]="genderOptions"
        [radioForm]="employeeForm"
        fieldName="gender"></app-radio-field>
    </div>
    <div class="form-row">
      <app-input
        class="form-item col-2"
        name="phone"
        label="Телефон"
        placeholder="000 000 00 00"
        required="true"
        mask="(000) 000-00-00"
        dropSpecialCharacters="false"
        [error]="getErrors('phone')"
        formControlName="phone"></app-input>
      <app-select
        class="form-item col-2"
        name="position"
        label="Должность"
        caret="true"
        required="true"
        [error]="getErrors('position')"
        [options]="positionsMock"
        formControlName="position"></app-select>
    </div>
    <div class="form-row">
      <app-input
        class="form-item col-2"
        name="login"
        label="Логин"
        required="true"
        [error]="getErrors('login')"
        formControlName="login"></app-input>
      <app-input
        class="form-item col-2"
        name="password"
        type="password"
        label="Пароль"
        required="true"
        [error]="getErrors('password')"
        formControlName="password"></app-input>
    </div>
  </form>
  <button class="blue-btn" (click)="onSubmit()">
    <ng-container *ngIf="mode === 'add'">Создать</ng-container>
    <ng-container *ngIf="mode === 'edit'">Редактировать</ng-container>
  </button>
</div>
