<div *ngIf="employee" class="employee">
  <div class="employee__header">
    <span class="employee__header_nav" (click)="navigate()">
      <span class="grey-icon"
        [inlineSVG]="'/assets/icons/back.svg'"
       ></span>
      Все сотрудники
      <app-loader *ngIf="loading"></app-loader>
    </span>
    <div class="employee__header_actions">
      <span class="action-item" (click)="openModal('edit')">
        <span class="green-icon" [inlineSVG]="'/assets/icons/edit.svg'"></span>
        Изменить
      </span>
      <span class="action-item" (click)="openModal('delete')">
        <span class="grey-icon" [inlineSVG]="'/assets/icons/remove.svg'"></span>
        Удалить
      </span>
    </div>
  </div>
  <div class="employee__content">
    <div class="employee__content_name-area">
      <div class="employee-logo">{{getInitials()}}</div>
      <div class="employee-name">
        <span>{{ employee.lastname }} {{ employee.firstname }} {{ employee.patronymic }}</span>
        <span>{{ employee.profile }}</span>
      </div>
    </div>

    <div class="employee__content_info">
      <div class="info-item">
        <div class="info-item__title">
          <span>Телефон:</span>
          <span>E-Mail:</span>
          <span>Дата рождения</span>
        </div>
        <div class="info-item__text">
          <span>
            <ng-container *ngIf="employee.phone">{{employee.phone}}</ng-container>
            <ng-container *ngIf="!employee.phone">-</ng-container>
          </span>
          <span>
            <ng-container *ngIf="employee.email">{{employee.email}}</ng-container>
            <ng-container *ngIf="!employee.email">-</ng-container>
          </span>
          <span>
            <ng-container *ngIf="employee.birthDay">{{employee.birthDay}}.{{employee.birthMonth}}.{{employee.birthyear}}</ng-container>
            <ng-container *ngIf="!employee.birthDay">-</ng-container>
          </span>
        </div>
      </div>
      <div class="info-item">
        <div class="info-item__title">
          <span>Логин:</span>
          <span>Пароль:</span>
          <span>Комментарий:</span>
        </div>
        <div class="info-item__text">
          <span>
            <ng-container *ngIf="employee.login">{{employee.login}}</ng-container>
            <ng-container *ngIf="!employee.login">-</ng-container>
          </span>
          <span>
            <ng-container *ngIf="employee.passwordHash">{{employee.passwordHash}}</ng-container>
            <ng-container *ngIf="!employee.passwordHash">-</ng-container>
          </span>
          <span>
            <ng-container *ngIf="employee.comment">{{employee.comment}}</ng-container>
            <ng-container *ngIf="!employee.comment">-</ng-container>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
