<div *ngIf="employee" class="employee">
  <div class="employee__header item-header">
    <span class="employee__header_nav" (click)="navigate()">
      <span class="grey-icon"
        [inlineSVG]="'/assets/icons/back.svg'"
       ></span>
      Все сотрудники
      <app-loader *ngIf="loading"></app-loader>
    </span>
    <div class="employee__header_actions">
      <span class="hover-green-btn" (click)="openModal('edit')">
        <span class="green-icon" [inlineSVG]="'/assets/icons/edit.svg'"></span>
        Изменить
      </span>
      <span class="action-item" (click)="openModal('delete')">
        <span class="grey-icon" [inlineSVG]="'/assets/icons/remove.svg'"></span>
        Удалить
      </span>
    </div>
  </div>
  <div class="employee__content">
    <div class="employee__content_name-area item-name-area">
      <div class="employee-logo  item-pic">{{getInitials()}}</div>
      <div class="employee-name  item-info">
        <span class="roboto20 bold-text">{{ employee.lastname }} {{ employee.firstname }} {{ employee.patronymic }}</span>
        <span class="regular-text grey-text bold-text">{{ employee.profile }}</span>
      </div>
    </div>

    <div class="employee__content_info">
      <div class="info-item info-block">
        <span class="regular-text bold-text no-wrap">Телефон:</span>
        <span class="regular-text">{{employee.phone || '-'}}</span>
        <span class="regular-text bold-text no-wrap">E-Mail:</span>
        <span class="regular-text">{{employee.email || '-'}}</span>
        <span class="regular-text bold-text no-wrap">Дата рождения</span>
        <span class="regular-text">
          <ng-container *ngIf="employee.birthDay">{{employee.birthDay}}.{{employee.birthMonth}}.{{employee.birthyear}}</ng-container>
          <ng-container *ngIf="!employee.birthDay">-</ng-container>
        </span>
      </div>
      <div class="info-item info-block">
        <span class="regular-text bold-text no-wrap">Логин:</span>
        <span class="regular-text">{{employee.login || '-'}}</span>
        <span class="regular-text bold-text no-wrap">Пароль:</span>
        <span class="regular-text">{{employee.passwordHash || '-'}}</span>
        <span class="regular-text bold-text no-wrap">Комментарий:</span>
        <span class="regular-text">{{employee.comment || '-'}}</span>
      </div>
    </div>
  </div>
</div>
