<div class="col-sm-12 col-md-6 col-lg-6 form-area">
  <form [formGroup]="clientForm" (ngSubmit)="onSave(clientForm); submited=true">
    <div class="form-group">
      <label class="col-4" for="lastname">Фамилия:</label>
      <input type="text" class="form-control col-7" id="lastname"
             required
             formControlName="lastname" name="lastname" #lastname>
      <span class="error-message">{{getErrors('lastname')}}</span>
    </div>

    <div class="form-group">
      <label class="col-4" for="name">Имя:</label>
      <input type="text" class="form-control col-7" id="name"
             required
             formControlName="name" name="name">
      <span class="error-message">{{getErrors('lastname')}}</span>
    </div>

    <div class="form-group">
      <label class="col-4" for="patronymic">Отчество:</label>
      <input type="text" class="form-control col-7" id="patronymic"
             required
             formControlName="patronymic" name="patronymic">
      <span class="error-message">{{getErrors('lastname')}}</span>
    </div>

    <div class="form-group phone">
      <label class="col-4" for="phone">Телефон:</label>
      <input type="text" class="form-control col-7" id="phone"
             required minlength="9" maxlength="9"
             formControlName="phone" name="phone">
      <span class="error-message">{{getErrors('lastname')}}</span>
    </div>

    <div class="form-group">
      <label class="col-4" for="doctor">Лечащий врач:</label>
      <select class="form-control col-7" id="doctor" formControlName="doctor" name="doctor">
        <option *ngFor="let employee of employees" [value]="employee.lastname">
          {{employee.lastname}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="col-4" for="discount">Дисконт:</label>
      <input type="text" class="form-control col-7" id="discount"
             formControlName="discount" name="discount">
    </div>

    <div class="form-group textarea">
      <label class="col-4" for="comment">Комментарий:</label>
      <textarea type="text" class="form-control col-7" id="comment"
                formControlName="comment" name="comment" rows="6"></textarea>
    </div>

    <div class="button-area">
      <button *ngIf="mode==='edit'" type="submit" class="btn btn-success green">Редактировать</button>
      <button *ngIf="mode==='add'" type="submit" class="btn btn-success green">Добавить</button>
      <button type="button" class="btn btn-primary blue" (click)="close()">Назад</button>
    </div>

  </form>
</div>
