@import './mixin'
@import './variables'

// BUTTONS

.btn
  padding: 0 16px
  font-family: $Montserrat
  border-radius: 4px
  text-transform: capitalize
  cursor: pointer
  display: flex
  align-items: center
  &:disabled
    cursor: default
    opacity: .7
  > span
    height: 16px
    margin-right: 8px

.blue-btn
  @extend .btn
  height: 40px
  color: #FFFFFF
  font-size: 14px
  font-weight: 600
  background-color: $blue
  &:hover:not(:disabled)
    background-color: lighten($blue, 5%)
    box-shadow: $btn-shadow

.grey-btn
  @extend .btn
  height: 40px
  color: $grey
  font-size: 14px
  font-weight: 600
  background-color: $hover
  border: 1px solid $grey
  &:hover:not(:disabled)
    box-shadow: $btn-shadow

.hover-green-btn
  @extend .btn
  width: min-content
  display: flex
  align-items: center
  font-family: $OpenSans
  font-size: 13px
  font-weight: 600
  color: $green
  cursor: pointer
  height: 30px
  padding: 0 5px
  border-radius: 3px
  transition: all .5s
  white-space: nowrap
  &:hover
    background-color: lighten($green, 55%)
  > span
    height: 16px
    margin-right: 5px

.grey-icon
  use
    fill: $grey
.white-icon
  use
    fill: #ffffff
.blue-icon
  use
    fill: $blue
.green-icon
  use
    fill: $green

.icon-hover-blue:hover
  use
    fill: $blue
