@import './mixin'
@import './variables'

// BUTTONS

.btn
  padding: 0 16px
  font-family: $Montserrat
  border-radius: 4px
  text-transform: capitalize
  cursor: pointer
  display: flex
  align-items: center
  &:disabled
    cursor: default
    opacity: .7
  > span
    height: 16px
    margin-right: 8px

.blue-btn
  @extend .btn
  height: 40px
  color: #FFFFFF
  font-size: 14px
  font-weight: 600
  background-color: $blue
  &:hover:not(:disabled)
    background-color: lighten($blue, 5%)
    box-shadow: $btn-shadow

.grey-btn
  @extend .btn
  height: 40px
  color: $grey
  font-size: 14px
  font-weight: 600
  background-color: $hover
  border: 1px solid $grey
  &:hover:not(:disabled)
    box-shadow: $btn-shadow

.hover-green-btn
  @extend .btn
  width: min-content
  display: flex
  align-items: center
  font-family: $OpenSans
  font-size: 13px
  font-weight: 600
  color: $green
  cursor: pointer
  height: 30px
  padding: 0 5px
  border-radius: 3px
  transition: all .5s
  white-space: nowrap
  &:hover
    background-color: lighten($green, 55%)
  > span
    height: 16px
    margin-right: 5px

// ICONS

.grey-icon
  use
    fill: $grey
.white-icon
  use
    fill: #ffffff
.blue-icon
  use
    fill: $blue
.green-icon
  use
    fill: $green

.size16
  width: 16px
  height: 16px
  svg
    width: 16px
    height: 16px

.icon-hover-blue:hover
  use
    fill: $blue

.scaleY
  svg
    transform: scaleY(-1)

// TEXT
.regular-text
  color: $dark
  font-family: $OpenSans
  font-size: 13px

.roboto20
  color: $dark
  font-family: $Roboto
  font-size: 20px

.bold-text
  font-weight: 600

.bold-text-500
  font-weight: 500

.grey-text
  color: $grey

.no-wrap
  white-space: nowrap

// ITEM PAGE STYLE
.item-header
  @include item-header

.item-name-area
  height: 140px
  padding: 0 $padding-left
  display: flex
  align-items: center
  background-color: #fff
.item-pic
  width: 100px
  height: 100px
  border-radius: 50%
  background-color: $light-grey
  display: flex
  justify-content: center
  align-items: center
  color: $grey
  font-family: $Roboto
  font-size: 38px
  font-weight: 600
.item-info
  display: flex
  flex-direction: column
  margin-left: 40px
  height: 50%
  justify-content: space-evenly

.item-content
  min-height: calc(100vh - #{$app-header-height} - #{$item-page-nav-height} - 140px)
  padding: 20px $padding-left
  box-shadow: $inset-shadow
  display: grid
  grid-gap: 100px
  grid-template-columns: repeat(2, max-content)

.info-block
  display: grid
  grid-gap: 14px 30px
  align-content: flex-start
  grid-template-columns: min-content 1fr

// MANAGE ITEM PAGE
.manage-item
  @include none-scrollbar
  padding-left: 20px
  height: calc(100vh - #{$app-header-height})
  overflow: auto

.manage-item-header
  height: $manage-item-header-height
  display: flex
  justify-content: space-between
  align-items: center

.manage-item-btns
  margin: 30px 0
  display: flex
  > *:not(:last-child)
    margin-right: 16px
