$OpenSans: 'Open Sans', sans-serif
$Montserrat: 'Montserrat', sans-serif
$Roboto: 'Roboto', sans-serif
  
$green: #43A047
$blue: #448AFF
$grey: #9D9FAC
$light-grey: #D3D8DC
$red: #F14359
$dark: #34363B